{%extends'base.html'%}

{%block title%}
МБОУ СОШ №25 Киров - Учащимся
{%endblock%}

{%block main%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style media="screen">
  .elJur{
    width: 400px;
    height: 60px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    background-color: white;
    transition: border 0.3s;
    font-size: 20px;
  }
  .elJur:hover{
  border: 1px solid black;
}
  h1{
    margin-top: 50px;
  }
  .bigA a, p, b, li{
    font-size: 20px;
  }
  .timetableBell p, b{
    font-size: 20px;
  }
  .timetableBell2{
    margin-left: 200px;
    margin-top: -255px;
  }
  .timetableBell2 p, b{
    font-size: 20px;
  }
</style>
<div class="container">
  <center><h1>Учащимся</h1></center>
  <h2 id="#elJur">Электронный журнал</h2>
  <hr>
  <a href="http://school-ext.kirov.ru:8104/"><button type="button" class="elJur" name="button">Войти в электронный журнал</button></a>
  <p>Внимание!<br>
Если Вы не смогли зайти в Электронный дневник, то пожалуйста:<br>
1. Проверьте, что Вы не используете Internet Explorer.<br>
2. Проверьте, что Вы правильно набрали логин - Фамилия <br>
на русском языке: первая буква заглавная, а остальные прописные.<br>
3. Проверьте, что вы правильно набрали пароль - цифры, <br>
знаки и заглавные или строчные латинские буквы (букв русского <br>
алфавита (кириллицы) нет).<br>
Если Вы все же не смогли войти в электронный дневник, <br>
то заранее приносим свои извинения и просим Вас сообщить <br>
об этом классному руководителю (любым способом).</p>

<p>
  Уважаемые родители (законные представители)!<br>
  Если Вы забыли пароль, то можно:<br>
  1) обратиться к классному руководителю своего ребенка <br>
  и получить повторно пароль, второй раз заполнять <br>
  бланк заявления не надо (обратиться к классному <br>
  руководителю может сам ребенок);<br>
  2) если классный руководитель не смог вам помочь, <br>
  то с указанного в заявлении Вашего адреса <br>
  электронной почты написать <br>
  на электронную почту школы sch25@kirovedu.ru.<br>
</p>
<h2 id="#lessens">Расписание уроков</h2>
<hr>
<div class="bigA">
  <a href="#">Расписание уроков начальной школы 1-4-е классы (1 смена)</a><br>
  <a href="#">Расписание уроков начальной школы 1-4-е классы (2 смена)</a><br>
  <a href="#">Расписание уроков 5-9-е классы (1 смена)</a><br>
  <a href="#">Расписание уроков 5-9-е классы (2 смена)</a><br>
  <a href="#">Расписание уроков 10-11-е классы (1 смена)</a><br>
  <a href="#">13-09-2021 — Расписание занятий внеурочной деятельности — Начальная школа</a><br>
  <a href="#">13-09-2021 — 10-11-е классы (1 смена) — 5-11 классы</a><br>
  <a href="#">Расписание занятий по подготовке к ОГЭ</a><br><br>

</div>
<p>
  <b>Изменения в расписании на понедельник 22 ноября 2021  года</b><br>
  <br>
  3б — 1 урок — Музыка — Журавлева И.Ю.<br>
  3г — дистанционная форма обучения (20-25 ноября 2021 года)<br>
  4г — дистанционная форма обучения (15-22 ноября 2021 года)<br>
  5а — 2 урок — кабинет 207 — Математика — Яшинина С.Л.<br>
  5б — приходит к 08:55, нет Математики<br>
  5в — 3 урок — кабинет 317 — Робототехника (весь класс, нет Иностранного языка) — Щеклеин А.А., 4 урок — кабинет 209 — Математика — Яшинина С.Л.<br>
  5г — 3 урок — кабинет 210 — Математика — Яшинина С.Л.<br>
  5д — 5 урок — ВД (социальное, нет Математики) — Хворостова Л.И.<br>
  5е — 6 урок — нет Математики<br>
  6а — 8 урок — кабинет 208 — ВД (социальное, нет Математики) — Пискун М.В., 12 урок — кабинет 208 — Иностранный язык (весь класс) — Кропотова С.А.<br>
  6б — 11 урок — кабинет 209 — Математика — Яшинина С.Л., 13 урок — кабинет 209 — Иностранный язык (весь класс) — Кропотова С.А.<br>
  6в — 9 урок — кабинет 318 — Иностранный язык (весь класс) — Кропотова С.А., 12 урок — кабинет 318 — Математика — Яшинина С.Л.<br>
  6г — 11 урок — кабинет 213 — Иностранный язык (весь класс) — Кропотова С.А.<br>
  6д — дистанционная форма обучения (17-26 ноября 2021 года)<br>
  6е — дистанционная форма обучения (15-23 ноября 2021 года)<br>
  7а — 6 урок — кабинет 312 — ВД (общеинтеллектуальное, нет Алгебры) — Огородникова Е.А.<br>
  7б — 4 урок — кабинет 106 — Музыка — Журавлева И.Ю., 5 урок — Русский язык (нет Алгебры) — Шабалина О.Ал, 6 урок — кабинет 106 — ВД — Потапович Н.И.<br>
  7в — приходит к 09:50, 3 урок — Физическая культура (нет Алгебры и Русского языка) — Потапович Н.И.<br>
  7г — 4 урок — Физическая культура (нет Алгебры) — Потапович Н.И.<br>
  8в — 8 урок — кабинет 312 — Биология (нет Алгебры) — Пьянкова М.А, 9 урок — Физическая культура (нет Русского языка) — Потапович Н.И.<br>
  9а — дистанционная форма обучения (11-22 ноября 2021 года)<br>
  9б — приходит к 08:55, 4 урок — кабинет 212 — Русский язык (нет Алгебры) — Шабалина О.Ал, 5 урок — География — Пайо О.В., 6 урок — Обществознание — Скорнякова А.С.<br>
  10а — дистанционная форма обучения (11-24 ноября 2021 года)<br>
  11а — приходит к 09:50, 4 урок — кабинет 318 — История (нет Математики и Литературы) — Казакова Т.Ю.<br>
</p>
<h2 id="#bells">Расписание звонков</h2>
<hr>
<div class="timetableBell">
  <b>1 смена</b><br>
  <p>
    1. 8.00 – 8.40<br>
    2. 8.55 – 9.35<br>
    3. 9.50 – 10.30<br>
    4. 10.45 – 11.25<br>
    5. 11.45 – 12.25<br>
    6. 12.30 – 13.10<br>
    7. 13.15 – 13.55<br>
  </p>


</div>
<div class="timetableBell, timetableBell2">
<b>2 смена</b><br>
<p>
0(7). 13.15 – 13.55<br>
1(8). 14.15 – 14.55<br>
2(9). 15.05 – 15.45<br>
3(10). 16.00 – 16.40<br>
4(11). 16.55 – 17.35<br>
5(12). 17.45 – 18.25<br>
6(13). 18.30 – 19.10<br>
</p>
</div>

<h2 id="#sekcii">Платные спортивные секции</h2>
<hr>
<div class="bigA">
  <a href="https://sch25.kirovedu.ru/wp-content/uploads/sites/191/2021/10/%D1%81%D0%B2%D0%BE%D0%B1%D0%BE%D0%B4%D0%BD%D1%8B%D0%B5-%D0%BC%D0%B5%D1%81%D1%82%D0%B0.pdf">Наличие свободных мест по состоянию на 15.10.2021 года.</a>
  <a href="https://sch25.kirovedu.ru/wp-content/uploads/sites/191/2021/09/%D0%A0%D0%B0%D1%81%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-2021-2022-1.pdf">Расписание 2021-2022</a>

<p>Ознакомьтесь с расписанием занятий и выберете удобную для вас группу!</p>
<b>При себе иметь:</b>
<ul>
  <li>копию свидетельства о рождении ребенка</li>
  <li>медицинскую справку (с допуском к занятиям по выбранному виду спорта)</li>
  <li>заполненные заявление и согласие на обработку персональных данных <br>(по выбранному виду спорта)</li>
  <li>заполненные 2 экземпляра договора (по выбранному виду спорта) <br>— <b>распечатать с двух сторон!</b></li>
</ul>
  <p>Скачать документы:</p>
  <ul>
    <li><a href="#">Заявление на аквааэробику</a></li>
    <li><a href="#">Заявление на плавание</a></li>
    <li><a href="#">Заявление на футбол</a></li>
    <li><a href="#">Договор на оказание платных образовательных услуг по Аквааэробике</a></li>
    <li><a href="#">Договор на оказание платных образовательных услуг по плаванию 7-18 лет</a></li>
    <li><a href="#">Договор на оказание платных образовательных услуг по футболу</a></li>
  </ul>
<p>
Ждем вас с <b>полным пакетом заполненных вами документов</b> через вахту <br>
физкультурно-оздоровительного комплекса (от калитки налево, входные двери с<br>
желтыми кругами у автогородка)
</p>

<a href="https://sch25.kirovedu.ru/wp-content/uploads/sites/191/2020/12/%D0%97%D0%B0%D1%8F%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BD%D0%B0-%D0%B2%D0%BE%D0%B7%D0%B2%D1%80%D0%B0%D1%82-%D0%B4%D0%B5%D0%BD%D0%B5%D0%B6%D0%BD%D1%8B%D1%85-%D1%81%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B2.pdf">Заявление на возврат денежных средств</a><br>
<a href="https://sch25.kirovedu.ru/wp-content/uploads/sites/191/2021/05/%D0%A1%D0%BE%D0%B3%D0%BB%D0%B0%D1%88%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BE-%D1%80%D0%B0%D1%81%D1%82%D0%BE%D1%80%D0%B6%D0%B5%D0%BD%D0%B8%D0%B8-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%B0-%D0%94%D0%95%D0%A2%D0%98.docx">Соглашение о расторжении договора (если посещал занятия ребенок)</a><br>
<a href="https://sch25.kirovedu.ru/wp-content/uploads/sites/191/2021/05/%D0%A1%D0%BE%D0%B3%D0%BB%D0%B0%D1%88%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BE-%D1%80%D0%B0%D1%81%D1%82%D0%BE%D1%80%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B4%D0%BE%D0%B3%D0%BE%D0%B2%D0%BE%D1%80%D0%B0-%D0%92%D0%97%D0%A0%D0%9E%D0%A1%D0%9B%D0%AB%D0%95-1.docx">Соглашение о расторжение договора (если посещал занятия взрослый)</a><br><br>
<b>Для посещения секции бассейна необходимо с собой иметь:</b>
<ul>
  <li>мочалку</li>
  <li>мыло</li>
  <li>сланцы</li>
  <li>полотенце</li>
  <li>шапочку</li>
  <li>очки для плавания (желательно)</li>
  <li>плавки для мальчиков и купальники для девочек (желательно цельные)</li>
</ul>
<p>
  Без плавательной шапочки  доступ на занятие  запрещен.  Дети одевают сланцы в<br>
  рекреации на диванах перед раздевалками. В уличной обуви проход в раздевалки<br>
  ЗАПРЕЩЕН!<br>
  Дети приходят к началу занятий, у них будет 15 минут для переодевания, душа и подготовки к купанию. Занятие в воде длится 45 мин.
</p>
<b>На секции футбола, волейбола, баскетбола дети берут собой:</b>
<ul>
  <li>спортивную одежду ( футболку, шорты, штаны),</li>
  <li>обувь ОБЯЗАТЕЛЬНО СО СВЕТЛОЙ ПОДОШВОЙ.</li>
</ul>
<p>При отсутствии сменной обуви, ребенок до занятия в зале не допускается.</p>
</div>
</div>
{%endblock%}
