{%extends 'base.html'%}

{%block title%}
МБОУ СОШ №25 Киров
{%endblock%}

{%block main%}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<style media="screen">
  .carousel {
  height: 500px !important;
  overflow: hidden;
  margin-top: 50px;
}
.carousel-inner {
  overflow: visible;
}
.carousel-inner img {
  left: 50%;
  max-width: none !important;
  min-height: 400px;
  min-width: 100%;
  position: absolute;
  top: 200px;
  transform: translate(-50%,-50%);
}
.carousel-item h1{
  position: absolute;
  left: 300px;
  top: 200px;
  color: white;
  font-size: 50px;
}
.newBlock{
  border: 2px solid grey;
  border-radius: 10px;
  width: 400px;
  padding: 0px;
  transition: border 0.5s;
}
.newBlock:hover{
  border: 2px solid #007822;
}
.newBlock img{
  height: 40%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;

}
.newBlock div{
  padding: 20px;
}
.newBlock a{
  color: black;
}
.allNews{
  border-radius: 50px;
  border: 0px;
  background-color: #007822;
  transition: background-color 0.5s;
  margin-top: 50px;
  width: 200px;
  height: 40px;
  color: white;
}
.allNews:hover{
  background-color: #008f28;
}
.btInfo{
  width: 100%;
  height: 80px;
  margin-top: 30px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  background-color: white;
  transition: border 0.3s;
  font-size: 20px;
}
.btInfo:hover{
  border: 1px solid black;
}
table{
  border: 1px solid grey;
  margin-top: 20px;
}
td{
  border: 1px solid grey;
}
.schoolInfo{
  margin-top: 50px;
}
</style>
<div class="carousel slide" id="carouselControls" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="static/img/newImg.png" alt="">
      <h1>Всемирный день памяти <br>жертв ДТП</h1>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="static/img/newImg2.jpg" alt="">
      <h1>Зимний этап Всероссийской акции <br>«Безопасность детства»</h1>
    </div>
  </div>
  <a class="carousel-control-prev" role="button" href="#carouselControls" data-bs-slide="prev">
     <span class="carousel-control-prev-icon"></span>
   </a>
  <a class="carousel-control-next" role="button" href="#carouselControls" data-bs-slide="next">
     <span class="carousel-control-next-icon"></span>
   </a>
</div>

<div class="container my-5">
  <div class="row">
     <div class="col-md-4 mx-3 newBlock">
      <img src="static/img/newImg.png" alt="">
      <div class="">
        <h4>Всемирный день <br> памяти жертв ДТП</h4>
        <small>📅19.11.2021</small>
        <p>
          Каждое третье воскресенье ноября, начиная с 2005 года отмечается Всемирный день памяти жертв ДТП. <br>
          Ежегодно по всему миру на дорогах погибают и получают травмы более миллиона людей.
        </p>
        <a href="/"><i>Подробнее...</i></a>
      </div>
    </div>
    <div class="col-md-4 mx-3 newBlock">
      <img src="static/img/newImg2.jpg" alt="">
      <div class="">
        <h4>Зимний этап Всероссийской акции<br>
          «Безопасность детства»</h4>
        <small>📅19.11.2021</small>
        <p>
          По инициативе Уполномоченного при Президенте Российской Федерации по правам ребенка в период<br>
          с 01.11.2021 по 01.03.2022 <br>
          проводится зимний этап Всероссийской акции «Безопасность детства».
        </p>
        <a href="/"><i>Подробнее...</i></a>
      </div>
    </div>
    <div class="col-md-4 mx-3 newBlock">
      <img src="static/img/newImg.png" alt="">
      <div class="">
        <h4>Всемирный день <br> памяти жертв ДТП</h4>
        <small>📅19.11.2021</small>
        <p>
          Каждое третье воскресенье ноября, начиная с 2005 года отмечается Всемирный день памяти жертв ДТП. <br>
          Ежегодно по всему миру на дорогах погибают и получают травмы более миллиона людей.
        </p>
        <a href="/"><i>Подробнее...</i></a>
      </div>
    </div>

  </div>
  <center><a href="/"><button type="button" class="allNews" name="button">Все новости</button></a></center>
</div>
<div class="container">
  <center><h1>Информация</h1></center>
  <div class="row">
    <div class="col-md-4">
      <a href="/"><button type="button" class="btInfo" name="button">Электронный дневник</button></a>
    </div>
    <div class="col-md-4">
      <a href="/"><button type="button" class="btInfo" name="button">Расписание уроков</button></a>
    </div>
    <div class="col-md-4">
      <a href="/"><button type="button" class="btInfo" name="button">Расписание звонков</button></a>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <a href="/"><button type="button" class="btInfo" name="button">Кружки и секции</button></a>
    </div>
    <div class="col-md-4">
      <a href="/"><button type="button" class="btInfo" name="button">Прием в учереждение</button></a>
    </div>
    <div class="col-md-4">
      <a href="/"><button type="button" class="btInfo" name="button">О школьном питании</button></a>
    </div>

  </div>
  <div class="schoolInfo" id="schoolInfo">


  <center><h1>Сведения об образовательной организации</h1></center>

    <table>

      <tr>
        <td>
Полное наименование образовательной организации;
        </td>
        <td>
Муниципальное бюджетное общеобразовательное учреждение «Средняя общеобразовательная школа №25» города Кирова
        </td>
      </tr>
      <tr>
        <td>
Сокращенное (при наличии) наименование образовательной организации;
        </td>
        <td>
 МБОУ СОШ №25 города Кирова
        </td>
      </tr>
      <tr>
        <td>
О дате создания образовательной организации
        </td>
        <td>
01.09.2020
        </td>
      </tr>
      <tr>
        <td>
Об учредителе (учредителях) образовательной организации
        </td>
        <td>
          Муниципальное образование «Город Киров».
          Функции и полномочия Учредителя выполняет администрация города Кирова (администрация муниципального образования «Город Киров»)

          Адрес: 610000, Киров, ул. Воровского, 39
          Факс: 67-69-91
          e-mail: inbox@admkirov.ru
          Сайт: http://www.admkirov.ru/
        </td>
      </tr>
      <tr>
        <td>
О наименовании представительств и филиалов образовательной организации (при наличии) (в том числе, находящихся за пределами Российской Федерации)
        </td>
        <td>
 отсутствуют
        </td>
      </tr>
      <tr>
        <td>
О месте нахождения образовательной организации, ее представительств и филиалов (при наличии)
        </td>
        <td>
610025, Кировская область г. Киров, ул. Мостовицкая, д. 2
        </td>
      </tr>
      <tr>
        <td>
О режиме и графике работы образовательной организации, ее представительств и филиалов (при наличии)
        </td>
        <td>
          понедельник — пятница
          с 07:30 до 20:00
        </td>
      </tr>
      <tr>
        <td>
О контактных телефонах образовательной организации, ее представительств и филиалов (при наличии)
        </td>
        <td>
(8332) 253735
        </td>
      </tr>
      <tr>
        <td>
Об адресах электронной почты образовательной организации, ее представительств и филиалов (при наличии)
        </td>
        <td>
sch25@kirovedu.ru
        </td>
      </tr>
      <tr>
        <td>
Об адресах официальных сайтов представительств и филиалов образовательной организации (при наличии) или страницах в информационно-телекоммуникационной сети «Интернет»
        </td>
        <td>
отсутствуют
        </td>
      </tr>
      <tr>
        <td>
О местах осуществления образовательной деятельности, в том числе не указанных в приложении к лицензии (реестре лицензий) на осуществление образовательной деятельности в соответствии с частью 4 статьи 91 Федерального закона от 29 декабря 2012 г. N 273-ФЗ «Об образовании в Российской Федерации».
        </td>
        <td>
610025, Кировская область г. Киров, ул. Мостовицкая, д. 2
        </td>
      </tr>
    </table>
      </div>
</div>

{%endblock%}
